<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
<meta charset="UTF-8">
</head>
<body>
	<div th:fragment="modalBuscarUsuario">
	   	<div class="modal fade" id="modalBuscarUsuario" tabindex="-1" aria-labelledby="buscarUsuarioLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
				<div class="modal-content shadow-sm border-0 rounded-4">
					<div class="modal-header bg-black text-white rounded-top-4">
						<h5 class="modal-title" id="buscarUsuarioLabel">Buscar Usuário</h5>
						<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Fechar"></button>
					</div>
					<div class="modal-body">
						<input type="text" id="inputBusca" class="form-control form-control-lg mb-4" placeholder="Digite o nome do usuário" autofocus autocomplete="off"/>
						<div class="table-responsive">
							<table class="table align-middle mb-0">
								<thead class="table-dark">
									<tr>
										<th>Nome</th>
										<th>Login</th>
										<th>E-mail</th>
										<th>Status</th>
									</tr>
								</thead>
								<tbody id="resultadoBusca">
						
								</tbody>
							</table>
						</div>
					</div>
					<div class="modal-footer border-0">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
						<button type="button" class="btn btn-primary" id="btnEscolher">Escolher</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>