<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro Assunto</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/css/sidebar.css}">
	<link rel="stylesheet" th:href="@{/css/navbar.css}">
	<link rel="stylesheet" th:href="@{/css/forms.css}">
	<script th:src="@{/js/consultaAssunto.js}"></script>
	<link rel="stylesheet" th:href="@{/css/modalConsulta.css}">
</head>
<body>

    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <div class="container-fluid">
        <div class="row">
        
            <div th:replace="~{fragments/sidebar :: sidebar}"></div>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 py-4">
                <h4>Cadastro Cargo</h4>

                <div th:if="${mensagem}" class="alert alert-dismissible fade show" th:classappend="' alert-' + ${tipoMensagem}" role="alert">
                    <span th:text="${mensagem}"></span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
                </div>          

                <form th:action="@{/assunto/cadastrar}" th:object="${assunto}" method="post" class="needs-validation" novalidate>
                	
                    <div class="row mb-3 mt-5">
  						<div class="col-md-4">
						    <label class="form-label">Nome<span class="text-danger">*</span></label>
						    <div class="input-group">
						        <input type="text" th:field="*{nome}" class="form-control" placeholder="Digite para cadastrar" required />
								<button class="btn btn-buscar" type="button" data-bs-toggle="modal" data-bs-target="#modalBusca">
								    <i class="bi bi-search"></i>
								</button>
						    </div>
							<div class="text-danger" th:errors="*{nome}"></div>
						</div>
						
                         <input type="hidden" th:field="*{id}" />
                    </div>
                  
                    <div class="row mb-3 mt-4">
                        <div class="col-md-1"></div>
                        <div class="col-md-3 text-end">
                            <button type="submit" class="btn btn-success me-2">Salvar</button>
                            <a th:href="@{/inicio}" class="btn btn-secondary">Cancelar</a>
                        </div>
                    </div>                 
                </form>         
            </main>
        </div>
    </div>
    
	<div th:replace="~{fragments/modalUmaColuna :: modalBusca}"></div>
	
</body>
</html>
