<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" content="${_csrf.token}"/>
  	<meta name="_csrf_header" content="${_csrf.headerName}"/>
    <title>Cadastro de Jornalista</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
	<link rel="stylesheet" th:href="@{/css/sidebar.css}">
	<link rel="stylesheet" th:href="@{/css/navbar.css}">
	<link rel="stylesheet" th:href="@{/css/forms.css}">
	<link rel="stylesheet" th:href="@{/css/modalConsulta.css}">
	<script th:src="@{/js/consultaJornalista.js}"></script>
	<script th:src="@{/js/exclusaoGenerico.js}"></script>
</head>
<body>

    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <div class="container-fluid">
        <div class="row">
        
            <div th:replace="~{fragments/sidebar :: sidebar}"></div>
    
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 py-4">

                <div th:if="${mensagem}" class="alert alert-dismissible fade show" th:classappend="' alert-' + ${tipoMensagem}" role="alert">
                    <span th:text="${mensagem}"></span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

                <h4 class="mb-4">Cadastro Jornalista</h4>
                
                <form th:action="@{/jornalista/cadastrar}" th:object="${jornalista}" method="post" class="needs-validation" novalidate>
  		
                    <div class="row mb-3 mt-5">
						<div class="col-md-6">
						    <label class="form-label">Nome<span class="text-danger">*</span></label>
						    <div class="input-group">
						        <input type="text" th:field="*{nome}" class="form-control" required />
								<button class="btn btn-buscar" type="button" data-bs-toggle="modal" data-bs-target="#modalBuscarJornalista">
								    <i class="bi bi-search"></i>
								</button>
						    </div>
							<div class="text-danger" th:errors="*{nome}"></div>
						</div>
						
                        <input type="hidden" th:field="*{id}" />
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        
                        <div class="col-md-2">
                            <label class="form-label">CPF<span class="text-danger">*</span></label>
                            <input type="text" th:field="*{cpf}" class="form-control" required />
                            <div class="text-danger" th:errors="*{cpf}"></div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-auto">
                            <label class="form-label">Data de Nascimento<span class="text-danger">*</span></label>
                            <input type="date" th:field="*{dataNascimento}" class="form-control" required />
                            <div class="text-danger" th:errors="*{dataNascimento}"></div>
                        </div>
                        <div class="col-md-2">
                            <label class="form-label">RG</label>
                            <input type="text" th:field="*{rg}" class="form-control" />
                            <div class="text-danger" th:errors="*{rg}"></div>
                        </div>
                        <div class="col-md-2" style="max-width: 50%;">
                            <label class="form-label">Sexo</label>
                            <select th:field="*{sexo}" class="form-select" required>
                                <option value="Masculino" th:selected="${jornalista.sexo == 'Masculino'}">Masculino</option>
                                <option value="Feminino" th:selected="${jornalista.sexo == 'Feminino'}">Feminino</option>
                            </select>
                            <div class="text-danger" th:errors="*{sexo}"></div>
                        </div>	
                        <div class="col-md-3 d-flex align-items-end">
                            <div class="form-check ms-3">
                                <input type="checkbox" class="form-check-input" th:field="*{ativo}" th:checked="*{ativo}" th:value="true" id="ativo"/>
                                <label class="form-check-label" for="ativo">Ativo?</label>
                            </div>
                        </div>			
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-2">
                            <label class="form-label">Celular<span class="text-danger">*</span></label>
                            <input type="text" th:field="*{celular}" class="form-control" placeholder="(99) 99999-9999" required />
                            <div class="text-danger" th:errors="*{celular}"></div>
                        </div>
                        <div class="col-md-2">
                            <label class="form-label">Telefone</label>
                            <input type="text" th:field="*{telefone}" class="form-control" placeholder="(99) 9999-9999" />
                            <div class="text-danger" th:errors="*{telefone}"></div>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Email<span class="text-danger">*</span></label>
                            <input type="email" th:field="*{email}" class="form-control" placeholder="email@example.com" required />
                            <div class="text-danger" th:errors="*{email}"></div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-4">
                            <label class="form-label">Logradouro<span class="text-danger">*</span></label>
                            <input type="text" th:field="*{endereco.logradouro}" class="form-control" required />
                            <div class="text-danger" th:errors="*{endereco}"></div>
                        </div>
                        <div class="col-md-1">
                            <label class="form-label">Número<span class="text-danger">*</span></label>
                            <input type="text" th:field="*{endereco.numero}" class="form-control" required />
                            <div class="text-danger" th:errors="*{endereco}"></div>
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Bairro<span class="text-danger">*</span></label>
                            <input type="text" th:field="*{endereco.bairro}" class="form-control" required />
                            <div class="text-danger" th:errors="*{endereco}"></div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-3">
                            <label class="form-label">Cidade<span class="text-danger">*</span></label>
                            <input type="text" th:field="*{endereco.cidade}" class="form-control" required />
                            <div class="text-danger" th:errors="*{endereco}"></div>
                        </div>
                        <div class="col-md-1">
                            <label class="form-label">Estado</label>
                            <select th:field="*{endereco.estado}" class="form-select" required>
						        <option value="AC">AC</option>
						        <option value="AL">AL</option>
						        <option value="AP">AP</option>
						        <option value="AM">AM</option>
						        <option value="BA">BA</option>
						        <option value="CE">CE</option>
						        <option value="DF">DF</option>
						        <option value="ES">ES</option>
						        <option value="GO">GO</option>
						        <option value="MA">MA</option>
						        <option value="MT">MT</option>
						        <option value="MS">MS</option>
						        <option value="MG">MG</option>
						        <option value="PA">PA</option>
						        <option value="PB">PB</option>
						        <option value="PR">PR</option>
						        <option value="PE">PE</option>
						        <option value="PI">PI</option>
						        <option value="RJ">RJ</option>
						        <option value="RN">RN</option>
						        <option value="RS">RS</option>
						        <option value="RO">RO</option>
						        <option value="RR">RR</option>
						        <option value="SC">SC</option>
						        <option value="SP">SP</option>
						        <option value="SE">SE</option>
						        <option value="TO">TO</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label class="form-label">CEP<span class="text-danger">*</span></label>
                            <input type="text" th:field="*{endereco.cep}" class="form-control" placeholder="00000-000" required />
                            <div class="text-danger" th:errors="*{endereco.cep}"></div>
                        </div>
                     	<div class="col-md-3">
                            <label class="form-label">Complemento</label>
                            <input type="text" th:field="*{endereco.complemento}" class="form-control" required />
                    	</div>
                    </div>

                    <div class="row mb-3 mt-4">
                        <div class="col-md-4"></div>
                        <div class="col-md-5 text-end">
                            <button type="submit" class="btn btn-success">Salvar</button>         
							<button type="button" class="btn btn-danger" id="btnExcluir" data-form-selector="form[action*='/jornalista/cadastrar']" data-delete-url="/agenciaDigital/jornalista/excluir">Excluir</button>                     
                            <a th:href="@{/inicio}" class="btn btn-secondary">Cancelar</a>
                        </div>
                    </div>
                </form>
                
            </main>
        </div>
    </div>
    
	<div th:replace="~{fragments/modalJornalista :: modalBuscarJornalista}"></div>
	<div th:replace="~{fragments/modalExclusaoGenerico :: modalExclusao}"></div>
	
</body>
</html>
